*, *:before, *:after {       /** the asterisk is a universal selector **/
  box-sizing: border-box;
}

body {
  background-color: #343434;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 20px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
}

.restaurant-list {
  width: 420px;
  padding-top: 50px;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #000000;
  padding: 10px 0 0 15px;
  line-height: 24px;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  width: 380px;
  color: #000000;
  padding: 0 0 10px 15px;
  line-height: 24px;
}

.content {
  display: inline-block;
}

.arrow {
  float: right;
  padding: 28px 15px 0 0;

}
.location {
  width: 100%;
  background-color: #DAD9DB;
  border-bottom: 1px solid #343434;
  padding: 10px 0 10px 0;
}

.location:hover { background-color: #A9A9A9; }
